 @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,600;1,600&family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&family=Mulish:wght@600&display=swap');


@import "tailwindcss";
@plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

 body{

    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
 }